@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TODO Add a description for your restaurant. What cousine? Any specially dishes? Background story?</p>
    <hr />
    <h2>Chef: Truong Pham</h2>
    <p>TODO: Add a fictional bio for your main chef</p>
</div>

